<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[-1]}}")
    </script>
    {% endif %}
    {% endwith %}


    <form action = '/signup' method = 'POST'>
        아이디 : <input type ='text' name='new_id'> <br>
        비밀번호 : <input type = 'password' name='new_pw'> <br>
        비밀번호 확인 : <input type='password' name='new_pw2'> <br>

        <input type='submit' value='회원가입'>
    </form>
</body>
</html>