<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>학생 정보</h1>
    <form action="/result" method="POST">
        이름 : <input type="text" name="stu_name">
        번호 : <input type="text" name="stu_number">

        <h2>시험 문제</h2>
        문제 : 1+1=? <br>
        답안 : <input type="text" name="answer"> <br>

        문제 : 2+1=? <br>
        답안 : <input type="text" name="answer2"> <br>

        <input type="submit" value="시험지 제출">
    </form>
</body>
</html>